{:highlights [{:id #uuid "6632c20e-95e3-488e-8f26-6b979cfc6a4d",
               :page 13,
               :position {:bounding {:x1 86.38542175292969,
                                     :y1 120.14581298828125,
                                     :x2 479.4739685058594,
                                     :y2 140.0625,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 86.38542175292969,
                                   :y1 120.14581298828125,
                                   :x2 479.4739685058594,
                                   :y2 130.14581298828125,
                                   :width 532,
                                   :height 688.4705882352941}
                                  {:x1 86.38542175292969,
                                   :y1 130.0625,
                                   :x2 119.1424560546875,
                                   :y2 140.0625,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 13},
               :content {:text "Porcentaje de participación en actividades de trabajo comprendido en el SCN(PTSCN"},
               :properties {:color "yellow"}}
              {:id #uuid "6632c226-85ca-4234-9a73-22d647a0747e",
               :page 13,
               :position {:bounding {:x1 86.38542175292969,
                                     :y1 219.16665649414062,
                                     :x2 479.50347900390625,
                                     :y2 239.1875,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 86.38542175292969,
                                   :y1 219.16665649414062,
                                   :x2 479.50347900390625,
                                   :y2 229.16665649414062,
                                   :width 532,
                                   :height 688.4705882352941}
                                  {:x1 86.38542175292969,
                                   :y1 229.1875,
                                   :x2 121.63548278808594,
                                   :y2 239.1875,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 13},
               :content {:text "Tiempo promedio por participante en actividades de trabajo comprendido en el SCN(TTSCN)"},
               :properties {:color "yellow"}}
              {:id #uuid "6632c236-ca37-47b2-a4c3-532298d4f477",
               :page 13,
               :position {:bounding {:x1 86.38542175292969,
                                     :y1 318.2708282470703,
                                     :x2 410.3807907104492,
                                     :y2 328.2708282470703,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 86.38542175292969,
                                   :y1 318.2708282470703,
                                   :x2 410.3807907104492,
                                   :y2 328.2708282470703,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 13},
               :content {:text "Tiempo promedio poblacional en actividades de trabajo remunerado (TPTSCN)"},
               :properties {:color "yellow"}}],
 :extra {:page 17}}
