{:highlights [{:id #uuid "66339a61-76e7-40af-9614-29a8482d74d2",
               :page 3,
               :position {:bounding {:x1 61.66666793823242,
                                     :y1 242.84375,
                                     :x2 310.42388916015625,
                                     :y2 264.32293701171875,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 101.85383605957031,
                                   :y1 242.84375,
                                   :x2 310.42388916015625,
                                   :y2 252.84375,
                                   :width 532,
                                   :height 688.4705882352941}
                                  {:x1 61.66666793823242,
                                   :y1 254.3229217529297,
                                   :x2 255.1683349609375,
                                   :y2 264.32293701171875,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 3},
               :content {:text " Cuenta de producción economía cultural y creativa Valores a precios corrientes (millones de pesos)"},
               :properties {:color "blue"}}
              {:id #uuid "66339a78-59c0-4ffc-b5e4-7f1d8a5808d5",
               :page 3,
               :position {:bounding {:x1 61.66666793823242,
                                     :y1 435.1145935058594,
                                     :x2 430.69512939453125,
                                     :y2 456.6979217529297,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 103.28125,
                                   :y1 435.1145935058594,
                                   :x2 430.69512939453125,
                                   :y2 445.1145935058594,
                                   :width 532,
                                   :height 688.4705882352941}
                                  {:x1 61.66666793823242,
                                   :y1 446.6979217529297,
                                   :x2 176.70165634155273,
                                   :y2 456.6979217529297,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 3},
               :content {:text "Participación porcentual del valor agregado, según fuentes de información de la economía cultural y creativa"},
               :properties {:color "blue"}}
              {:id #uuid "66339a90-7a85-4e19-b19c-8658f9b80844",
               :page 4,
               :position {:bounding {:x1 101.65887451171875,
                                     :y1 153.42709350585938,
                                     :x2 461.92218017578125,
                                     :y2 163.42709350585938,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 101.65887451171875,
                                   :y1 153.42709350585938,
                                   :x2 461.92218017578125,
                                   :y2 163.42709350585938,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 4},
               :content {:text " Participación porcentual del valor agregado de las áreas de economía cultural y creativa"},
               :properties {:color "blue"}}
              {:id #uuid "66339ae5-0600-4c6a-a666-a19dda49646a",
               :page 4,
               :position {:bounding {:x1 61.66666793823242,
                                     :y1 343.1979217529297,
                                     :x2 470.490966796875,
                                     :y2 376.375,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 101.85383605957031,
                                   :y1 343.1979217529297,
                                   :x2 310.42388916015625,
                                   :y2 353.1979217529297,
                                   :width 532,
                                   :height 688.4705882352941}
                                  {:x1 61.66666793823242,
                                   :y1 354.78125,
                                   :x2 470.490966796875,
                                   :y2 364.78125,
                                   :width 532,
                                   :height 688.4705882352941}
                                  {:x1 61.66666793823242,
                                   :y1 366.375,
                                   :x2 109.64360046386719,
                                   :y2 376.375,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 4},
               :content {:text " Cuenta de producción economía cultural y creativa Series encadenadas de volumen con año de referencia 2015 (millones de pesos) y tasas de crecimiento en volumen"},
               :properties {:color "blue"}}
              {:id #uuid "66339af8-a05b-4af6-b4ef-c2789c1e4808",
               :page 5,
               :position {:bounding {:x1 61.66666793823242,
                                     :y1 87.91667175292969,
                                     :x2 470.4565124511719,
                                     :y2 109.5,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 102.07018280029297,
                                   :y1 87.91667175292969,
                                   :x2 470.4565124511719,
                                   :y2 97.91667175292969,
                                   :width 532,
                                   :height 688.4705882352941}
                                  {:x1 61.66666793823242,
                                   :y1 99.5,
                                   :x2 175.18517684936523,
                                   :y2 109.5,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 5},
               :content {:text " Participación porcentual del valor agregado de la economía cultural y creativa en el total del valor agregado nacional"},
               :properties {:color "blue"}}
              {:id #uuid "66339c8d-ac55-490c-ad9e-a87e78ea513b",
               :page 12,
               :position {:bounding {:x1 61.66666793823242,
                                     :y1 199.11459350585938,
                                     :x2 356.1422119140625,
                                     :y2 220.69793701171875,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 108.7901611328125,
                                   :y1 199.11459350585938,
                                   :x2 356.1422119140625,
                                   :y2 209.11459350585938,
                                   :width 532,
                                   :height 688.4705882352941}
                                  {:x1 61.66666793823242,
                                   :y1 210.69793701171875,
                                   :x2 117.14006042480469,
                                   :y2 220.69793701171875,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 12},
               :content {:text "Población ocupada por áreas de economía cultural y creativa Total naciona"},
               :properties {:color "blue"}}
              {:id #uuid "66339ca9-e3f6-4da9-a8de-63e970632697",
               :page 12,
               :position {:bounding {:x1 105.3125,
                                     :y1 419.9895935058594,
                                     :x2 470.40234375,
                                     :y2 429.9895935058594,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 105.3125,
                                   :y1 419.9895935058594,
                                   :x2 470.40234375,
                                   :y2 429.9895935058594,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 12},
               :content {:text " Oferta de trabajo equivalente a tiempo completo por áreas de economía cultural y creativa"},
               :properties {:color "blue"}}],
 :extra {:page 14}}
