{:highlights [{:id #uuid "66317b29-7ab7-4c4e-af78-83abb10d3b26",
               :page 1,
               :position {:bounding {:x1 61.645835876464844,
                                     :y1 240.58334350585938,
                                     :x2 470.4730987548828,
                                     :y2 262.16668701171875,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 100.77668762207031,
                                   :y1 240.58334350585938,
                                   :x2 470.4730987548828,
                                   :y2 250.58334350585938,
                                   :width 532,
                                   :height 688.4705882352941}
                                  {:x1 61.645835876464844,
                                   :y1 252.1666717529297,
                                   :x2 187.93310546875,
                                   :y2 262.16668701171875,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 1},
               :content {:text " Variación anual y variación doce meses de la cantidad de micronegocios, personal ocupado y valor nominal de los ingresos"},
               :properties {:color "purple"}}
              {:id #uuid "66317bc9-0952-4e8a-88c6-36bcfbdabdc5",
               :page 6,
               :position {:bounding {:x1 103.4375,
                                     :y1 239.9583282470703,
                                     :x2 416.2161560058594,
                                     :y2 249.9583282470703,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 103.4375,
                                   :y1 239.9583282470703,
                                   :x2 416.2161560058594,
                                   :y2 249.9583282470703,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 6},
               :content {:text "Variación anual de la cantidad de micronegocios según actividad económica "},
               :properties {:color "purple"}}
              {:id #uuid "66317ca3-dc5a-4bdf-9eec-5439d20603fa",
               :page 7,
               :position {:bounding {:x1 105.19004315137863,
                                     :y1 205.28126525878906,
                                     :x2 470.31751507520676,
                                     :y2 215.28126525878906,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 105.19004315137863,
                                   :y1 205.28126525878906,
                                   :x2 470.31751507520676,
                                   :y2 215.28126525878906,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 7},
               :content {:text "Variación anual del personal ocupado en los micronegocios según actividad económica"},
               :properties {:color "purple"}}
              {:id #uuid "66317cba-a43b-4845-9bcc-69027d8ac669",
               :page 8,
               :position {:bounding {:x1 103.28113049268723,
                                     :y1 200.0625,
                                     :x2 470.44937390089035,
                                     :y2 210.0625,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 103.28113049268723,
                                   :y1 200.0625,
                                   :x2 470.44937390089035,
                                   :y2 210.0625,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 8},
               :content {:text "Variación anual de los ingresos nominales de los micronegocios según actividad económica"},
               :properties {:color "purple"}}],
 :extra {:page 17}}
