{:highlights [{:id #uuid "66313f8a-b0bd-4945-b359-f9f936af0d81",
               :page 3,
               :position {:bounding {:x1 82.25,
                                     :y1 122.34375,
                                     :x2 394.8443603515625,
                                     :y2 135.6770782470703,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 82.25,
                                   :y1 122.34375,
                                   :x2 394.8443603515625,
                                   :y2 135.6770782470703,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 3},
               :content {:text "Proporción de la población fuera de la fuerza de trabaj"},
               :properties {:color "green"}}
              {:id #uuid "66313fb2-4eb6-437a-a2f8-0d436325d188",
               :page 4,
               :position {:bounding {:x1 61.645835876464844,
                                     :y1 247.98958206176758,
                                     :x2 470.50792694091797,
                                     :y2 269.57292556762695,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 105.0197982788086,
                                   :y1 247.98958206176758,
                                   :x2 470.50792694091797,
                                   :y2 257.9895820617676,
                                   :width 532,
                                   :height 688.4705882352941}
                                  {:x1 61.645835876464844,
                                   :y1 259.57292556762695,
                                   :x2 127.11407470703125,
                                   :y2 269.57292556762695,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 4},
               :content {:text " Distribución porcentual de la población fuera de la fuerza de trabajo según tipo de actividad y sexo"},
               :properties {:color "green"}}
              {:id #uuid "66313fc2-295f-4006-af0e-da2fcbda1fe1",
               :page 6,
               :position {:bounding {:x1 61.645835876464844,
                                     :y1 246.84375,
                                     :x2 470.50792694091797,
                                     :y2 268.4270935058594,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 107.7972640991211,
                                   :y1 246.84375,
                                   :x2 470.50792694091797,
                                   :y2 256.84375,
                                   :width 532,
                                   :height 688.4705882352941}
                                  {:x1 61.645835876464844,
                                   :y1 258.4270935058594,
                                   :x2 127.11407470703125,
                                   :y2 268.4270935058594,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 6},
               :content {:text "Distribución porcentual de la población fuera de la fuerza de trabajo según tipo de actividad y sexo"},
               :properties {:color "green"}}],
 :extra {:page 3}}
