{:highlights [{:id #uuid "66338960-250e-4b88-b740-5e64229ddb38",
               :page 3,
               :position {:bounding {:x1 61.65625,
                                     :y1 256.75,
                                     :x2 334.9343490600586,
                                     :y2 278.3125,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 95.96077728271484,
                                   :y1 256.75,
                                   :x2 334.9343490600586,
                                   :y2 266.75,
                                   :width 532,
                                   :height 688.4705882352941}
                                  {:x1 61.65625,
                                   :y1 268.3125,
                                   :x2 252.51031494140625,
                                   :y2 278.3125,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 3},
               :content {:text "Cuenta de producción y generación del ingreso del TDCNR Miles de millones de pesos a precios corrientes"},
               :properties {:color "blue"}}
              {:id #uuid "66338974-89d5-4a36-adc2-841b27fc6aaa",
               :page 4,
               :position {:bounding {:x1 61.65625,
                                     :y1 389.34375,
                                     :x2 470.26995849609375,
                                     :y2 410.91668701171875,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 97.81878662109375,
                                   :y1 389.34375,
                                   :x2 470.26995849609375,
                                   :y2 399.34375,
                                   :width 532,
                                   :height 688.4705882352941}
                                  {:x1 61.65625,
                                   :y1 400.91668701171875,
                                   :x2 415.2490234375,
                                   :y2 410.91668701171875,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 4},
               :content {:text "Valor económico del TDCNR en Colombia según funcionalidad; participación porcentual por funcionalidad y sexo (Miles de millones de pesos a precios corrientes y porcentaje)"},
               :properties {:color "blue"}}
              {:id #uuid "663389b7-3cc8-49b2-af30-12318274c290",
               :page 5,
               :position {:bounding {:x1 61.65625,
                                     :y1 229,
                                     :x2 470.12803649902344,
                                     :y2 262.13543701171875,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 97.06864929199219,
                                   :y1 229,
                                   :x2 470.12803649902344,
                                   :y2 239,
                                   :width 532,
                                   :height 688.4705882352941}
                                  {:x1 61.65625,
                                   :y1 240.5625,
                                   :x2 109.26360321044922,
                                   :y2 250.5625,
                                   :width 532,
                                   :height 688.4705882352941}
                                  {:x1 61.65625,
                                   :y1 252.13543701171875,
                                   :x2 305.63555908203125,
                                   :y2 262.13543701171875,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 5},
               :content {:text "Valor de la producción del TDCNR como porcentaje de la producción total de la economía colombiana Miles de millones de pesos a precios corrientes y porcentaje"},
               :properties {:color "blue"}}
              {:id #uuid "663389e8-d9a1-4fdf-8dfc-01eaa6a85579",
               :page 7,
               :position {:bounding {:x1 61.65625,
                                     :y1 100.53125,
                                     :x2 470.20318603515625,
                                     :y2 122.10418701171875,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 106.00588989257812,
                                   :y1 100.53125,
                                   :x2 470.20318603515625,
                                   :y2 110.53125,
                                   :width 532,
                                   :height 688.4705882352941}
                                  {:x1 61.65625,
                                   :y1 112.10418701171875,
                                   :x2 219.2606658935547,
                                   :y2 122.10418701171875,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 7},
               :content {:text "Valor de la producción por sectores institucionales y producción del TDCNR (Miles de millones de pesos a precios corrientes)"},
               :properties {:color "blue"}}
              {:id #uuid "66338a30-097c-40fd-a62d-3bb1a3eb6e84",
               :page 8,
               :position {:bounding {:x1 61.65625,
                                     :y1 223.14584350585938,
                                     :x2 469.9540557861328,
                                     :y2 244.71875,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 104.12214660644531,
                                   :y1 223.14584350585938,
                                   :x2 469.9540557861328,
                                   :y2 233.14584350585938,
                                   :width 532,
                                   :height 688.4705882352941}
                                  {:x1 61.65625,
                                   :y1 234.71875,
                                   :x2 173.547607421875,
                                   :y2 244.71875,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 8},
               :content {:text "Participación porcentual del valor agregado del TDCNR sobre el valor agregado ampliado de la economía colombiana"},
               :properties {:color "blue"}}
              {:id #uuid "66338a9a-0e3b-4325-8c07-2645c81cdaff",
               :page 9,
               :position {:bounding {:x1 61.65625,
                                     :y1 256.125,
                                     :x2 470.09056854248047,
                                     :y2 277.69793701171875,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 104.78621673583984,
                                   :y1 256.125,
                                   :x2 470.09056854248047,
                                   :y2 266.125,
                                   :width 532,
                                   :height 688.4705882352941}
                                  {:x1 61.65625,
                                   :y1 267.6979217529297,
                                   :x2 265.50909423828125,
                                   :y2 277.69793701171875,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 9},
               :content {:text "Participación porcentual del valor de la producción del TDCNR en el Gasto de Consumo Final de los Hogares (GCFH) ampliado (Porcentaje"},
               :properties {:color "blue"}}
              {:id #uuid "66338ad0-76be-4fe9-a6c8-3aeaad181d4f",
               :page 10,
               :position {:bounding {:x1 61.65625,
                                     :y1 135.78125,
                                     :x2 470.1541748046875,
                                     :y2 157.34375,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 101.183349609375,
                                   :y1 135.78125,
                                   :x2 470.1541748046875,
                                   :y2 145.78125,
                                   :width 532,
                                   :height 688.4705882352941}
                                  {:x1 61.65625,
                                   :y1 147.34375,
                                   :x2 143.39952087402344,
                                   :y2 157.34375,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 10},
               :content {:text " Estructura del Gasto de Consumo Final de los Hogares (GCFH) ampliado y producción del TDCNR (Porcentaje)"},
               :properties {:color "blue"}}],
 :extra {:page 7}}
