{:highlights [{:id #uuid "6632ecce-356e-4bc1-942b-82aa2dda74bd",
               :page 14,
               :position {:bounding {:x1 66.20833587646484,
                                     :y1 93.78125,
                                     :x2 504.8544616699219,
                                     :y2 116.875,
                                     :width 571.1999999999999,
                                     :height 739.1999999999999},
                          :rects ({:x1 116.7003173828125,
                                   :y1 93.78125,
                                   :x2 504.8544616699219,
                                   :y2 104.44790649414062,
                                   :width 571.1999999999999,
                                   :height 739.1999999999999}
                                  {:x1 66.20833587646484,
                                   :y1 106.20832824707031,
                                   :x2 401.03377532958984,
                                   :y2 116.875,
                                   :width 571.1999999999999,
                                   :height 739.1999999999999}),
                          :page 14},
               :content {:text "Niños y niñas menores de 5 años que asistieron la mayor parte del tiempo entre semana a hogares comunitarios, jardines, centros de desarrollo infantil o colegios (%"},
               :properties {:color "yellow"}}],
 :extra {:page 24}}
