{:highlights [{:id #uuid "66318922-b95c-4523-9a7d-2fa6c1968c0a",
               :page 12,
               :position {:bounding {:x1 61.65625,
                                     :y1 367.5937690734863,
                                     :x2 470.09481048583984,
                                     :y2 390.85417556762695,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 108.11064910888672,
                                   :y1 367.5937690734863,
                                   :x2 470.09481048583984,
                                   :y2 378.26042556762695,
                                   :width 532,
                                   :height 688.4705882352941}
                                  {:x1 61.65625,
                                   :y1 380.1875190734863,
                                   :x2 110.20714569091797,
                                   :y2 390.85417556762695,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 12},
               :content {:text "Tasa de incidencia de informalidad multidimensional empresarial según actividad económica"},
               :properties {:color "green"}}
              {:id #uuid "6631894a-3d43-4a48-ae79-e3938cf35d70",
               :page 13,
               :position {:bounding {:x1 61.65625,
                                     :y1 244.5625,
                                     :x2 470.0564498901367,
                                     :y2 267.96875,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 108.10628509521484,
                                   :y1 244.5625,
                                   :x2 470.0564498901367,
                                   :y2 255.22918701171875,
                                   :width 532,
                                   :height 688.4705882352941}
                                  {:x1 61.65625,
                                   :y1 257.3020935058594,
                                   :x2 191.22152709960938,
                                   :y2 267.96875,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 13},
               :content {:text "Tasa de incidencia de informalidad empresarial multidimensional según situación en el empleo del propietario("},
               :properties {:color "green"}}
              {:id #uuid "6631895c-bd11-4e90-85e9-5f1ad5d1da7f",
               :page 14,
               :position {:bounding {:x1 61.65625,
                                     :y1 153.40625,
                                     :x2 470.07674407958984,
                                     :y2 176.8125,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 105.4834213256836,
                                   :y1 153.40625,
                                   :x2 470.07674407958984,
                                   :y2 164.07293701171875,
                                   :width 532,
                                   :height 688.4705882352941}
                                  {:x1 61.65625,
                                   :y1 166.14584350585938,
                                   :x2 105.1128158569336,
                                   :y2 176.8125,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 14},
               :content {:text " Tasa de incidencia de informalidad empresarial multidimensional según rango de ocupados"},
               :properties {:color "green"}}
              {:id #uuid "6631896b-7ab8-425e-aeb1-bb99b3d9478d",
               :page 15,
               :position {:bounding {:x1 61.65625,
                                     :y1 131.7916717529297,
                                     :x2 470.07676696777344,
                                     :y2 155.1979217529297,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 108.10734558105469,
                                   :y1 131.7916717529297,
                                   :x2 470.07676696777344,
                                   :y2 142.45834350585938,
                                   :width 532,
                                   :height 688.4705882352941}
                                  {:x1 61.65625,
                                   :y1 144.53125,
                                   :x2 149.77151489257812,
                                   :y2 155.1979217529297,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 15},
               :content {:text "Tasa de incidencia de informalidad empresarial multidimensional según rango de ingresos mensuales"},
               :properties {:color "green"}}
              {:id #uuid "6631898a-dee7-413f-a631-cf12b1061367",
               :page 16,
               :position {:bounding {:x1 61.65625,
                                     :y1 126.07290649414062,
                                     :x2 470.1410369873047,
                                     :y2 149.47915649414062,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 110.18626403808594,
                                   :y1 126.07290649414062,
                                   :x2 470.1410369873047,
                                   :y2 136.73956298828125,
                                   :width 532,
                                   :height 688.4705882352941}
                                  {:x1 61.65625,
                                   :y1 138.8125,
                                   :x2 190.95982360839844,
                                   :y2 149.47915649414062,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 16},
               :content {:text "Tasa de incidencia de informalidad empresarial multidimensional según lugar donde desarrolla la actividad"},
               :properties {:color "green"}}
              {:id #uuid "663189bc-8b08-45b6-85c6-e5faace1bc8b",
               :page 17,
               :position {:bounding {:x1 61.65625,
                                     :y1 127.93751525878906,
                                     :x2 470.06871032714844,
                                     :y2 151.3333282470703,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 110.17765808105469,
                                   :y1 127.93751525878906,
                                   :x2 470.06871032714844,
                                   :y2 138.6041717529297,
                                   :width 532,
                                   :height 688.4705882352941}
                                  {:x1 61.65625,
                                   :y1 140.6666717529297,
                                   :x2 190.95982360839844,
                                   :y2 151.3333282470703,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 17},
               :content {:text "Tasa de incidencia de informalidad empresarial multidimensional según lugar donde desarrolla la actividad"},
               :properties {:color "green"}}
              {:id #uuid "663189fe-43a1-42d2-bc2b-9143f8140d3a",
               :page 18,
               :position {:bounding {:x1 61.65625,
                                     :y1 127.93751525878906,
                                     :x2 470.03196716308594,
                                     :y2 151.3333282470703,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 108.36088562011719,
                                   :y1 127.93751525878906,
                                   :x2 470.03196716308594,
                                   :y2 138.6041717529297,
                                   :width 532,
                                   :height 688.4705882352941}
                                  {:x1 61.65625,
                                   :y1 140.6666717529297,
                                   :x2 146.89862060546875,
                                   :y2 151.3333282470703,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 18},
               :content {:text "Tasa de incidencia de informalidad empresarial multidimensional según ciudad yárea metropolitana"},
               :properties {:color "green"}}
              {:id #uuid "66318a19-fa26-4c73-8670-bea354d65529",
               :page 19,
               :position {:bounding {:x1 100.12992858886719,
                                     :y1 197.8125,
                                     :x2 342.86444091796875,
                                     :y2 208.47918701171875,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 100.12992858886719,
                                   :y1 197.8125,
                                   :x2 342.86444091796875,
                                   :y2 208.47918701171875,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 19},
               :content {:text "Porcentaje de micronegocios informales por indicador"},
               :properties {:color "green"}}],
 :extra {:page 19}}
