{:highlights [{:id #uuid "6631a941-f4fc-4993-81ac-7afe2b4f455e",
               :page 6,
               :position {:bounding {:x1 91.31671142578125,
                                     :y1 117.9375,
                                     :x2 250.12002563476562,
                                     :y2 127.9375,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 91.31671142578125,
                                   :y1 117.9375,
                                   :x2 250.12002563476562,
                                   :y2 127.9375,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 6},
               :content {:text "Participación en actividades de trabajo,"},
               :properties {:color "purple"}}
              {:id #uuid "6631a953-8251-4fe1-82b8-17cd56375128",
               :page 7,
               :position {:bounding {:x1 89.54075622558594,
                                     :y1 169.98959350585938,
                                     :x2 435.36289978027344,
                                     :y2 179.98959350585938,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 89.54075622558594,
                                   :y1 169.98959350585938,
                                   :x2 435.36289978027344,
                                   :y2 179.98959350585938,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 7},
               :content {:text " Tiempo diario promedio (hh:mm) por participante en grandes grupos de actividades"},
               :properties {:color "purple"}}
              {:id #uuid "6631a963-2638-4e07-96c3-57fa15070026",
               :page 8,
               :position {:bounding {:x1 91.75008392333984,
                                     :y1 106.36459350585938,
                                     :x2 389.55184173583984,
                                     :y2 116.36459350585938,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 91.75008392333984,
                                   :y1 106.36459350585938,
                                   :x2 389.55184173583984,
                                   :y2 116.36459350585938,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 8},
               :content {:text "Participación en actividades de trabajo, según sexo y dominio geográfico"},
               :properties {:color "purple"}}
              {:id #uuid "6631a97e-deee-495b-a450-fe6e0f62e26e",
               :page 9,
               :position {:bounding {:x1 89.50473022460938,
                                     :y1 106.36457824707031,
                                     :x2 397.8515625,
                                     :y2 116.36457824707031,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 89.50473022460938,
                                   :y1 106.36457824707031,
                                   :x2 397.8515625,
                                   :y2 116.36457824707031,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 9},
               :content {:text " Tiempo diario promedio por participante en grandes grupos de actividades"},
               :properties {:color "purple"}}
              {:id #uuid "6631a9ac-5367-40ae-a2be-635dd9f00130",
               :page 10,
               :position {:bounding {:x1 91.53600311279297,
                                     :y1 106.36459350585938,
                                     :x2 387.83846282958984,
                                     :y2 116.36459350585938,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 91.53600311279297,
                                   :y1 106.36459350585938,
                                   :x2 387.83846282958984,
                                   :y2 116.36459350585938,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 10},
               :content {:text "Participación en actividades de trabajo remunerado, según sexo y región"},
               :properties {:color "purple"}}
              {:id #uuid "6631a9cb-085a-4de4-b4f4-f2f4ab4fc5a5",
               :page 11,
               :position {:bounding {:x1 91.58306121826172,
                                     :y1 106.36459350585938,
                                     :x2 400.9843063354492,
                                     :y2 116.36459350585938,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 91.58306121826172,
                                   :y1 106.36459350585938,
                                   :x2 400.9843063354492,
                                   :y2 116.36459350585938,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 11},
               :content {:text "Participación en actividades de trabajo no remunerado, según sexo y región"},
               :properties {:color "purple"}}
              {:id #uuid "6631a9ef-3d65-4a0f-899a-fe52eccaca38",
               :page 12,
               :position {:bounding {:x1 92.11784362792969,
                                     :y1 106.36459350585938,
                                     :x2 466.4833221435547,
                                     :y2 116.36459350585938,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 92.11784362792969,
                                   :y1 106.36459350585938,
                                   :x2 466.4833221435547,
                                   :y2 116.36459350585938,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 12},
               :content {:text "Tiempo diario promedio (hh:mm) por participante en actividades de trabajo no remunerado"},
               :properties {:color "purple"}}
              {:id #uuid "6631aa04-a65c-4a6f-8eb1-7d3055e713f8",
               :page 13,
               :position {:bounding {:x1 91.66511535644531,
                                     :y1 106.36456298828125,
                                     :x2 412.41041564941406,
                                     :y2 116.36456298828125,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 91.66511535644531,
                                   :y1 106.36456298828125,
                                   :x2 412.41041564941406,
                                   :y2 116.36456298828125,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 13},
               :content {:text "Participación en actividades de trabajo remunerado, según sexo y grupo etario"},
               :properties {:color "purple"}}
              {:id #uuid "6631aa19-6584-431e-a81d-fbf07ab2036d",
               :page 14,
               :position {:bounding {:x1 94.88043212890625,
                                     :y1 106.36456298828125,
                                     :x2 458.5849609375,
                                     :y2 116.36456298828125,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 94.88043212890625,
                                   :y1 106.36456298828125,
                                   :x2 458.5849609375,
                                   :y2 116.36456298828125,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 14},
               :content {:text " Tiempo diario promedio (hh:mm) por participante en actividades de trabajo remunerado"},
               :properties {:color "purple"}}
              {:id #uuid "6631aa2a-6c34-4d8d-b1da-c668cb9cf4bb",
               :page 14,
               :position {:bounding {:x1 96.20903015136719,
                                     :y1 415.5520839691162,
                                     :x2 430.46324157714844,
                                     :y2 425.5520839691162,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 96.20903015136719,
                                   :y1 415.5520839691162,
                                   :x2 430.46324157714844,
                                   :y2 425.5520839691162,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 14},
               :content {:text "Participación en actividades de trabajo no remunerado, según sexo y grupo etario"},
               :properties {:color "purple"}}
              {:id #uuid "6631aa3a-14fb-4889-a792-30078900bb02",
               :page 15,
               :position {:bounding {:x1 49.21875,
                                     :y1 315.3020830154419,
                                     :x2 474.1990509033203,
                                     :y2 336.87502002716064,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 97.30207824707031,
                                   :y1 315.3020830154419,
                                   :x2 474.1990509033203,
                                   :y2 325.3020830154419,
                                   :width 532,
                                   :height 688.4705882352941}
                                  {:x1 49.21875,
                                   :y1 326.87502002716064,
                                   :x2 155.26870727539062,
                                   :y2 336.87502002716064,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 15},
               :content {:text "Tiempo diario promedio (hh:mm) por participante en actividades de trabajo no remunerado, según sexo y grupo etario"},
               :properties {:color "purple"}}
              {:id #uuid "6631aa64-70bb-48cc-a41d-5834fef632b0",
               :page 16,
               :position {:bounding {:x1 96.78573608398438,
                                     :y1 275.1458435058594,
                                     :x2 435.46429443359375,
                                     :y2 285.1458435058594,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 96.78573608398438,
                                   :y1 275.1458435058594,
                                   :x2 435.46429443359375,
                                   :y2 285.1458435058594,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 16},
               :content {:text "Participación en actividades de trabajo doméstico para el propio hogar, según sexo"},
               :properties {:color "purple"}}
              {:id #uuid "6631aa7d-d032-40fc-b902-4ca08f78b6bc",
               :page 17,
               :position {:bounding {:x1 49.21875,
                                     :y1 145.68751525878906,
                                     :x2 481.3768310546875,
                                     :y2 167.2708282470703,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 94.82293701171875,
                                   :y1 145.68751525878906,
                                   :x2 481.3768310546875,
                                   :y2 155.68751525878906,
                                   :width 532,
                                   :height 688.4705882352941}
                                  {:x1 49.21875,
                                   :y1 157.2708282470703,
                                   :x2 194.49728393554688,
                                   :y2 167.2708282470703,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 17},
               :content {:text " Tiempo diario promedio (hh:mm) por participante en actividades de trabajo doméstico para el propio hogar, según funcionalidade"},
               :properties {:color "purple"}}
              {:id #uuid "6631aa94-1f79-4f12-9880-f90e6c23f67a",
               :page 18,
               :position {:bounding {:x1 96.83782958984375,
                                     :y1 120.23958206176758,
                                     :x2 343.70867919921875,
                                     :y2 130.23958206176758,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 96.83782958984375,
                                   :y1 120.23958206176758,
                                   :x2 343.70867919921875,
                                   :y2 130.23958206176758,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 18},
               :content {:text "Participación en actividades de cuidado para el propio hogar"},
               :properties {:color "purple"}}
              {:id #uuid "663297a4-71cd-4bf2-9b4a-d0995ecf21b6",
               :page 20,
               :position {:bounding {:x1 49.21875,
                                     :y1 106.36459350585938,
                                     :x2 454.42527770996094,
                                     :y2 127.9375,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 96.67112731933594,
                                   :y1 106.36459350585938,
                                   :x2 454.42527770996094,
                                   :y2 116.36459350585938,
                                   :width 532,
                                   :height 688.4705882352941}
                                  {:x1 49.21875,
                                   :y1 117.9375,
                                   :x2 113.583251953125,
                                   :y2 127.9375,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 20},
               :content {:text "Participación en actividades de trabajo no remunerado, según sexo y participación en el mercado labora"},
               :properties {:color "green"}}
              {:id #uuid "663297ec-aa7e-427b-b06d-e815f5444588",
               :page 21,
               :position {:bounding {:x1 49.21875,
                                     :y1 106.36459350585938,
                                     :x2 461.1423873901367,
                                     :y2 127.9375,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 94.8774642944336,
                                   :y1 106.36459350585938,
                                   :x2 461.1423873901367,
                                   :y2 116.36459350585938,
                                   :width 532,
                                   :height 688.4705882352941}
                                  {:x1 49.21875,
                                   :y1 117.9375,
                                   :x2 246.15011596679688,
                                   :y2 127.9375,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 21},
               :content {:text " Tiempo diario promedio (hh:mm) por participante en actividades de trabajo remunerado, según sexo y participación en el mercado labora"},
               :properties {:color "green"}}
              {:id #uuid "6632982e-ca1e-41be-9343-0485aad6bc07",
               :page 21,
               :position {:bounding {:x1 96.15798443555832,
                                     :y1 458.5208435058594,
                                     :x2 242.07131451368332,
                                     :y2 468.5208435058594,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 96.15798443555832,
                                   :y1 458.5208435058594,
                                   :x2 242.07131451368332,
                                   :y2 468.5208435058594,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 21},
               :content {:text "Carga global de trabajo, según sexo"},
               :properties {:color "red"}}
              {:id #uuid "66329863-f88b-4b2a-810c-e3ef23711618",
               :page 22,
               :position {:bounding {:x1 96.67739361524582,
                                     :y1 392.07291412353516,
                                     :x2 309.0283610224724,
                                     :y2 402.07291412353516,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 96.67739361524582,
                                   :y1 392.07291412353516,
                                   :x2 309.0283610224724,
                                   :y2 402.07291412353516,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 22},
               :content {:text "Porcentaje de hogares con empleado/a doméstico/a"},
               :properties {:color "green"}}
              {:id #uuid "663298af-6e89-4277-81ba-0bfbf5f221e8",
               :page 23,
               :position {:bounding {:x1 94.28739929199219,
                                     :y1 331.0520935058594,
                                     :x2 408.2422332763672,
                                     :y2 341.0520935058594,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 94.28739929199219,
                                   :y1 331.0520935058594,
                                   :x2 408.2422332763672,
                                   :y2 341.0520935058594,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 23},
               :content {:text " Hogares con equipamiento de apoyo para el trabajo doméstico y de cuidado"},
               :properties {:color "green"}}
              {:id #uuid "663298f1-0692-466a-9783-5832c1dff61f",
               :page 24,
               :position {:bounding {:x1 95.8398666381836,
                                     :y1 224.34375,
                                     :x2 407.7179489135742,
                                     :y2 234.34375,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 95.8398666381836,
                                   :y1 224.34375,
                                   :x2 407.7179489135742,
                                   :y2 234.34375,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 24},
               :content {:text "Percepción sobre las tareas domésticas y de cuidado en el hogar, según sexo"},
               :properties {:color "red"}}
              {:id #uuid "66329908-1eff-4bba-a291-e8544b313cd0",
               :page 25,
               :position {:bounding {:x1 96.11917114257812,
                                     :y1 106.36459350585938,
                                     :x2 278.2289123535156,
                                     :y2 116.36459350585938,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 96.11917114257812,
                                   :y1 106.36459350585938,
                                   :x2 278.2289123535156,
                                   :y2 116.36459350585938,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 25},
               :content {:text "Percepción de pobreza de tiempo, según sex"},
               :properties {:color "red"}}],
 :extra {:page 13}}
