{:highlights [{:id #uuid "663301fa-2c67-484d-a941-909e885e0ef7",
               :page 12,
               :position {:bounding {:x1 61.60416793823242,
                                     :y1 78.89581298828125,
                                     :x2 446.2172966003418,
                                     :y2 119.76040649414062,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 61.60416793823242,
                                   :y1 78.89581298828125,
                                   :x2 446.2172966003418,
                                   :y2 98.89581298828125,
                                   :width 532,
                                   :height 688.4705882352941}
                                  {:x1 61.60416793823242,
                                   :y1 99.76040649414062,
                                   :x2 368.2717094421387,
                                   :y2 119.76040649414062,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 12},
               :content {:text "Número de empresas por tipo de organización y departamento años 2019, 2020 y 2021"},
               :properties {:color "yellow"}}
              {:id #uuid "6633022c-3897-48ff-b06c-94a55bc888ef",
               :page 30,
               :position {:bounding {:x1 61.60416793823242,
                                     :y1 78.89584350585938,
                                     :x2 425.0514030456543,
                                     :y2 119.76043701171875,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 61.60416793823242,
                                   :y1 78.89584350585938,
                                   :x2 425.0514030456543,
                                   :y2 98.89584350585938,
                                   :width 532,
                                   :height 688.4705882352941}
                                  {:x1 61.60416793823242,
                                   :y1 99.76043701171875,
                                   :x2 314.5047264099121,
                                   :y2 119.76043701171875,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 30},
               :content {:text "Número de empresas por sector económico y organización 2019, 2020 y 2021"},
               :properties {:color "yellow"}}
              {:id #uuid "66330242-9556-4839-b343-48e9811b051a",
               :page 39,
               :position {:bounding {:x1 62.10416793823242,
                                     :y1 78.89584350585938,
                                     :x2 404.85090255737305,
                                     :y2 119.76043701171875,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 62.10416793823242,
                                   :y1 78.89584350585938,
                                   :x2 404.85090255737305,
                                   :y2 98.89584350585938,
                                   :width 532,
                                   :height 688.4705882352941}
                                  {:x1 62.10416793823242,
                                   :y1 99.76043701171875,
                                   :x2 315.0047264099121,
                                   :y2 119.76043701171875,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 39},
               :content {:text "Número de empresas por tamaño y tipo de organización 2019, 2020 y 2021"},
               :properties {:color "yellow"}}],
 :extra {:page 45}}
