{:highlights [{:id #uuid "662f422e-953b-4846-bccb-7496a2267668",
               :page 1,
               :position {:bounding {:x1 60.798323821276426,
                                     :y1 415.8249969482422,
                                     :x2 81.70392913743854,
                                     :y2 425.4250030517578,
                                     :width 644.9999999999999,
                                     :height 985.4173396942263},
                          :rects ({:x1 60.798323821276426,
                                   :y1 415.8249969482422,
                                   :x2 81.70392913743854,
                                   :y2 425.4250030517578,
                                   :width 644.9999999999999,
                                   :height 985.4173396942263}),
                          :page 1},
               :content {:text "Clase"},
               :properties {:color "yellow"}}
              {:id #uuid "662f4260-59a5-453b-a624-0470880860a3",
               :page 2,
               :position {:bounding {:x1 64.58137817308307,
                                     :y1 88.67500162124634,
                                     :x2 241.20601196214557,
                                     :y2 101.47500467300415,
                                     :width 644.9999999999999,
                                     :height 985.4173396942263},
                          :rects ({:x1 64.58137817308307,
                                   :y1 88.67500162124634,
                                   :x2 241.20601196214557,
                                   :y2 101.47500467300415,
                                   :width 644.9999999999999,
                                   :height 985.4173396942263}),
                          :page 2},
               :content {:text "TIEMPO Y LUGAR DE FUNCIONAMIENTO"},
               :properties {:color "red"}}
              {:id #uuid "662f4290-50e0-4f60-a92c-25197fa8af40",
               :page 2,
               :position {:bounding {:x1 337.7125122062862,
                                     :y1 750.0625457763672,
                                     :x2 549.7208129875362,
                                     :y2 772.6000213623047,
                                     :width 644.9999999999999,
                                     :height 985.4173396942263},
                          :rects ({:x1 348.0396911613643,
                                   :y1 750.0625457763672,
                                   :x2 549.7208129875362,
                                   :y2 761.2624969482422,
                                   :width 644.9999999999999,
                                   :height 985.4173396942263}
                                  {:x1 337.7125122062862,
                                   :y1 761.4000091552734,
                                   :x2 378.34868163987994,
                                   :y2 772.6000213623047,
                                   :width 644.9999999999999,
                                   :height 985.4173396942263}),
                          :page 2},
               :content {:text "En el 2023, ¿usted era el/la propietario/a de este negocio?:"},
               :properties {:color "yellow"}}
              {:id #uuid "662f42b7-5aab-482b-8f35-3fe0a62f0289",
               :page 3,
               :position {:bounding {:x1 64.17499847337604,
                                     :y1 75.75,
                                     :x2 276.2000839225948,
                                     :y2 98.375,
                                     :width 644.9999999999999,
                                     :height 985.4173396942263},
                          :rects ({:x1 64.17499847337604,
                                   :y1 75.75,
                                   :x2 276.2000839225948,
                                   :y2 86.94998168945312,
                                   :width 644.9999999999999,
                                   :height 985.4173396942263}
                                  {:x1 64.17499847337604,
                                   :y1 87.17498779296875,
                                   :x2 269.9229843132198,
                                   :y2 98.375,
                                   :width 644.9999999999999,
                                   :height 985.4173396942263}),
                          :page 3},
               :content {:text "3. En el 2023, de las personas que trabajaron en su negocio, empresa o actividad, ¿cuántos/as eran…"},
               :properties {:color "yellow"}}
              {:id #uuid "662f42d7-c1d8-4566-9f0d-151d0cd60d73",
               :page 3,
               :position {:bounding {:x1 72.4777252189815,
                                     :y1 267.6124954223633,
                                     :x2 302.1372253410518,
                                     :y2 278.81250762939453,
                                     :width 644.9999999999999,
                                     :height 985.4173396942263},
                          :rects ({:x1 72.4777252189815,
                                   :y1 267.6124954223633,
                                   :x2 302.1372253410518,
                                   :y2 278.81250762939453,
                                   :width 644.9999999999999,
                                   :height 985.4173396942263}),
                          :page 3},
               :content {:text "En el 2023, ¿usted recibió algún salario en este trabajo?:"},
               :properties {:color "blue"}}
              {:id #uuid "662f42f4-2bdd-48e1-91be-8cee84cbf362",
               :page 3,
               :position {:bounding {:x1 64.17499847337604,
                                     :y1 369.9875030517578,
                                     :x2 435.38291473314166,
                                     :y2 381.1875,
                                     :width 644.9999999999999,
                                     :height 985.4173396942263},
                          :rects ({:x1 64.17499847337604,
                                   :y1 369.9875030517578,
                                   :x2 435.38291473314166,
                                   :y2 381.1875,
                                   :width 644.9999999999999,
                                   :height 985.4173396942263}),
                          :page 3},
               :content {:text "1.En el 2023, ¿cuál de las siguientes actividades le generaba la mayoría de los ingresos?:"},
               :properties {:color "red"}}
              {:id #uuid "662f4308-caeb-4e4d-98b1-ddfcd7a3c26c",
               :page 5,
               :position {:bounding {:x1 68.44384307786822,
                                     :y1 50.4375,
                                     :x2 159.07155151292682,
                                     :y2 63.237518310546875,
                                     :width 644.9999999999999,
                                     :height 985.4173396942263},
                          :rects ({:x1 68.44384307786822,
                                   :y1 50.4375,
                                   :x2 159.07155151292682,
                                   :y2 63.237518310546875,
                                   :width 644.9999999999999,
                                   :height 985.4173396942263}),
                          :page 5},
               :content {:text "SEGURIDAD SOCIAL"},
               :properties {:color "green"}}
              {:id #uuid "662f4321-584b-48cd-bc00-e9977f0b2a0c",
               :page 5,
               :position {:bounding {:x1 74.50451965257525,
                                     :y1 602.8500003814697,
                                     :x2 396.15210266038775,
                                     :y2 614.050012588501,
                                     :width 644.9999999999999,
                                     :height 985.4173396942263},
                          :rects ({:x1 74.50451965257525,
                                   :y1 602.8500003814697,
                                   :x2 396.15210266038775,
                                   :y2 614.050012588501,
                                   :width 644.9999999999999,
                                   :height 985.4173396942263}),
                          :page 5},
               :content {:text "En el 2023, ¿solicitó algún crédito o préstamo para la gestión de su negocio?:"},
               :properties {:color "green"}}
              {:id #uuid "662f433d-a4a9-46e1-8f07-5fd5297a9bda",
               :page 5,
               :position {:bounding {:x1 74.37906951829791,
                                     :y1 424.3875045776367,
                                     :x2 322.2559921257198,
                                     :y2 435.58751678466797,
                                     :width 644.9999999999999,
                                     :height 985.4173396942263},
                          :rects ({:x1 74.37906951829791,
                                   :y1 424.3875045776367,
                                   :x2 322.2559921257198,
                                   :y2 435.58751678466797,
                                   :width 644.9999999999999,
                                   :height 985.4173396942263}),
                          :page 5},
               :content {:text "En el 2023, ¿cuáles medios de pago aceptó en su negocio?:"},
               :properties {:color "purple"}}
              {:id #uuid "662f4354-d75b-494c-9f53-2f5261241a85",
               :page 6,
               :position {:bounding {:x1 71.47368163987994,
                                     :y1 77.22500610351562,
                                     :x2 502.6509887687862,
                                     :y2 88.42501831054688,
                                     :width 644.9999999999999,
                                     :height 985.4173396942263},
                          :rects ({:x1 71.47368163987994,
                                   :y1 77.22500610351562,
                                   :x2 502.6509887687862,
                                   :y2 88.42501831054688,
                                   :width 644.9999999999999,
                                   :height 985.4173396942263}),
                          :page 6},
               :content {:text "En el 2023, ¿este negocio o actividad económica perteneció a alguna de las siguientes organizaciones?"},
               :properties {:color "blue"}}
              {:id #uuid "662f4368-7805-467f-8ed2-46b36ab845ab",
               :page 6,
               :position {:bounding {:x1 61.72500152513385,
                                     :y1 312.25,
                                     :x2 273.01455230638385,
                                     :y2 334.875,
                                     :width 644.9999999999999,
                                     :height 985.4173396942263},
                          :rects ({:x1 67.51763458177447,
                                   :y1 312.25,
                                   :x2 250.16344757005572,
                                   :y2 323.45001220703125,
                                   :width 644.9999999999999,
                                   :height 985.4173396942263}
                                  {:x1 61.72500152513385,
                                   :y1 323.6750183105469,
                                   :x2 273.01455230638385,
                                   :y2 334.875,
                                   :width 644.9999999999999,
                                   :height 985.4173396942263}),
                          :page 6},
               :content {:text "usted emplea conocimientos tradicionales y ancestrales de los grupos étnico-raciales del país?"},
               :properties {:color "yellow"}}
              {:id #uuid "662f4371-3da1-4170-aacf-c8d976015072",
               :page 6,
               :position {:bounding {:x1 61.72500152513385,
                                     :y1 417.38751220703125,
                                     :x2 256.75576324388385,
                                     :y2 439.92498779296875,
                                     :width 644.9999999999999,
                                     :height 985.4173396942263},
                          :rects ({:x1 61.72500152513385,
                                   :y1 417.38751220703125,
                                   :x2 256.75576324388385,
                                   :y2 428.5874938964844,
                                   :width 644.9999999999999,
                                   :height 985.4173396942263}
                                  {:x1 61.72500152513385,
                                   :y1 428.7250061035156,
                                   :x2 112.99746246263385,
                                   :y2 439.92498779296875,
                                   :width 644.9999999999999,
                                   :height 985.4173396942263}),
                          :page 6},
               :content {:text "7. ¿Los bienes que produce o comercializa son artesanías?:"},
               :properties {:color "yellow"}}
              {:id #uuid "662f4382-d472-4542-9948-1c63309f3cd1",
               :page 6,
               :position {:bounding {:x1 363.79655761644244,
                                     :y1 395.8125,
                                     :x2 533.8951293937862,
                                     :y2 407.01251220703125,
                                     :width 644.9999999999999,
                                     :height 985.4173396942263},
                          :rects ({:x1 363.79655761644244,
                                   :y1 395.8125,
                                   :x2 533.8951293937862,
                                   :y2 407.01251220703125,
                                   :width 644.9999999999999,
                                   :height 985.4173396942263}),
                          :page 6},
               :content {:text "En comparación con su situación actual, "},
               :properties {:color "red"}}
              {:id #uuid "662f4395-a006-4806-9a82-ac589749d1fc",
               :page 6,
               :position {:bounding {:x1 60.4250022880733,
                                     :y1 502.23748779296875,
                                     :x2 283.1909591667354,
                                     :y2 536.1000366210938,
                                     :width 644.9999999999999,
                                     :height 985.4173396942263},
                          :rects ({:x1 70.73893279954791,
                                   :y1 502.23748779296875,
                                   :x2 283.1909591667354,
                                   :y2 513.4375,
                                   :width 644.9999999999999,
                                   :height 985.4173396942263}
                                  {:x1 60.4250022880733,
                                   :y1 513.5625,
                                   :x2 267.0230247490108,
                                   :y2 524.7625122070312,
                                   :width 644.9999999999999,
                                   :height 985.4173396942263}
                                  {:x1 60.4250022880733,
                                   :y1 524.9000244140625,
                                   :x2 111.81008453294635,
                                   :y2 536.1000366210938,
                                   :width 644.9999999999999,
                                   :height 985.4173396942263}),
                          :page 6},
               :content {:text "En el 2023, ¿este negocio fue beneficiario de algún programa de gobierno (nacional, departamental o municipal)?:"},
               :properties {:color "red"}}
              {:id #uuid "662f43a6-126c-40d5-992f-bddf59ff1643",
               :page 8,
               :position {:bounding {:x1 63.05970687791705,
                                     :y1 51.912506103515625,
                                     :x2 217.7262260429561,
                                     :y2 64.71250915527344,
                                     :width 644.9999999999999,
                                     :height 985.4173396942263},
                          :rects ({:x1 63.05970687791705,
                                   :y1 51.912506103515625,
                                   :x2 217.7262260429561,
                                   :y2 64.71250915527344,
                                   :width 644.9999999999999,
                                   :height 985.4173396942263}),
                          :page 8},
               :content {:text "RECONOCIMIENTO ÉTNICO-RACIAL"},
               :properties {:color "yellow"}}
              {:id #uuid "662fe559-5adb-4e32-8a94-f6cc212822db",
               :page 6,
               :position {:bounding {:x1 399.0833435058594,
                                     :y1 163.88541665673256,
                                     :x2 625.3407592773438,
                                     :y2 666.7187906801701,
                                     :width 679.9999999999999,
                                     :height 1038.8895984373237},
                          :rects ({:x1 446.28125,
                                   :y1 163.88541665673256,
                                   :x2 539.724365234375,
                                   :y2 173.88541665673256,
                                   :width 679.9999999999999,
                                   :height 1038.8895984373237}
                                  {:x1 536.9896240234375,
                                   :y1 462.97916665673256,
                                   :x2 605.4976806640625,
                                   :y2 472.97916665673256,
                                   :width 679.9999999999999,
                                   :height 1038.8895984373237}
                                  {:x1 536.9896240234375,
                                   :y1 491.8646036684513,
                                   :x2 605.4976806640625,
                                   :y2 501.8646036684513,
                                   :width 679.9999999999999,
                                   :height 1038.8895984373237}
                                  {:x1 537.0625,
                                   :y1 522.9271036684513,
                                   :x2 605.5172729492188,
                                   :y2 532.9271036684513,
                                   :width 679.9999999999999,
                                   :height 1038.8895984373237}
                                  {:x1 537.0625,
                                   :y1 554.0937906801701,
                                   :x2 605.5172729492188,
                                   :y2 564.0937906801701,
                                   :width 679.9999999999999,
                                   :height 1038.8895984373237}
                                  {:x1 399.0833435058594,
                                   :y1 554.3021036684513,
                                   :x2 404.6458435058594,
                                   :y2 565.6354166567326,
                                   :width 679.9999999999999,
                                   :height 1038.8895984373237}
                                  {:x1 537.0625,
                                   :y1 613.6250406801701,
                                   :x2 605.5706176757812,
                                   :y2 623.6250406801701,
                                   :width 679.9999999999999,
                                   :height 1038.8895984373237}
                                  {:x1 399.0833435058594,
                                   :y1 625.9791666567326,
                                   :x2 404.6458435058594,
                                   :y2 637.3125406801701,
                                   :width 679.9999999999999,
                                   :height 1038.8895984373237}
                                  {:x1 537.0625,
                                   :y1 634.9166666567326,
                                   :x2 605.5706176757812,
                                   :y2 644.9166666567326,
                                   :width 679.9999999999999,
                                   :height 1038.8895984373237}
                                  {:x1 399.0833435058594,
                                   :y1 655.3854166567326,
                                   :x2 404.6458435058594,
                                   :y2 666.7187906801701,
                                   :width 679.9999999999999,
                                   :height 1038.8895984373237}
                                  {:x1 537.0625,
                                   :y1 656.2187906801701,
                                   :x2 625.3407592773438,
                                   :y2 666.2187906801701,
                                   :width 679.9999999999999,
                                   :height 1038.8895984373237}),
                          :page 6},
               :content {:text "467 Pase al Módulo IX. Pase al Módulo IX. Pase al Módulo IX. Pase al Módulo IX. Pase al Módulo IX. Pase al Módulo IX. Pase a la pregunta 11.1. Si contesta “Sí” en alguna"},
               :properties {:color "yellow"}}],
 :extra {:page 6}}
