{:highlights [{:id #uuid "662f405c-6d06-4df4-8a7b-dfd5d7c82f15",
               :page 1,
               :position {:bounding {:x1 352.72822875902057,
                                     :y1 663.5625,
                                     :x2 448.6822387687862,
                                     :y2 673.1625061035156,
                                     :width 644.9999999999999,
                                     :height 985.4173396942263},
                          :rects ({:x1 352.72822875902057,
                                   :y1 663.5625,
                                   :x2 448.6822387687862,
                                   :y2 673.1625061035156,
                                   :width 644.9999999999999,
                                   :height 985.4173396942263}),
                          :page 1},
               :content {:text "po de Unidad Económica "},
               :properties {:color "purple"}}
              {:id #uuid "662f4084-b30d-46be-90a8-b06f687ec11e",
               :page 2,
               :position {:bounding {:x1 347.19999999925494,
                                     :y1 49.25000762939453,
                                     :x2 567.8842651359737,
                                     :y2 69.00000762939453,
                                     :width 644.9999999999999,
                                     :height 985.4173396942263},
                          :rects ({:x1 365.9912292473018,
                                   :y1 49.25000762939453,
                                   :x2 567.8842651359737,
                                   :y2 58.849998474121094,
                                   :width 644.9999999999999,
                                   :height 985.4173396942263}
                                  {:x1 347.19999999925494,
                                   :y1 59.400001525878906,
                                   :x2 492.12105102464557,
                                   :y2 69.00000762939453,
                                   :width 644.9999999999999,
                                   :height 985.4173396942263}),
                          :page 2},
               :content {:text "En su actividad como unidad apoyo recibe ingresos del público en general u a otras empresas?"},
               :properties {:color "purple"}}
              {:id #uuid "662f408d-1663-4433-a865-b472d71a9d40",
               :page 2,
               :position {:bounding {:x1 337.26249999925494,
                                     :y1 497.41251373291016,
                                     :x2 520.7891113273799,
                                     :y2 517.1625137329102,
                                     :width 644.9999999999999,
                                     :height 985.4173396942263},
                          :rects ({:x1 351.26301879808307,
                                   :y1 497.41251373291016,
                                   :x2 520.7891113273799,
                                   :y2 507.0125198364258,
                                   :width 644.9999999999999,
                                   :height 985.4173396942263}
                                  {:x1 337.26249999925494,
                                   :y1 507.56250762939453,
                                   :x2 396.01103515550494,
                                   :y2 517.1625137329102,
                                   :width 644.9999999999999,
                                   :height 985.4173396942263}),
                          :page 2},
               :content {:text "Esta Unidad Económica cuenta con más de un establecimiento"},
               :properties {:color "purple"}}
              {:id #uuid "662f409f-f61f-4427-9754-654437ba96a7",
               :page 3,
               :position {:bounding {:x1 62.076338957995176,
                                     :y1 55.8499755859375,
                                     :x2 244.6156303398311,
                                     :y2 65.45001220703125,
                                     :width 644.9999999999999,
                                     :height 985.4173396942263},
                          :rects ({:x1 62.076338957995176,
                                   :y1 55.8499755859375,
                                   :x2 244.6156303398311,
                                   :y2 65.45001220703125,
                                   :width 644.9999999999999,
                                   :height 985.4173396942263}),
                          :page 3},
               :content {:text "En el 2023, ¿obtuvo o renovó el registro mercantil"},
               :properties {:color "green"}}
              {:id #uuid "662f40c1-1056-4462-9060-747d5120da05",
               :page 3,
               :position {:bounding {:x1 87.08750457689166,
                                     :y1 247.70001220703125,
                                     :x2 87.10000152513385,
                                     :y2 258.9000244140625,
                                     :width 644.9999999999999,
                                     :height 985.4173396942263},
                          :rects ({:x1 87.08750457689166,
                                   :y1 247.70001220703125,
                                   :x2 87.10000152513385,
                                   :y2 258.9000244140625,
                                   :width 644.9999999999999,
                                   :height 985.4173396942263}),
                          :page 3},
               :content {:text nil},
               :properties {:color "yellow"}}
              {:id #uuid "662f40e9-0f88-4df2-bf9c-638a5ceb6040",
               :page 8,
               :position {:bounding {:x1 64.60395355150104,
                                     :y1 82.0625,
                                     :x2 183.29460449144244,
                                     :y2 91.66252136230469,
                                     :width 644.9999999999999,
                                     :height 985.4173396942263},
                          :rects ({:x1 64.60395355150104,
                                   :y1 82.0625,
                                   :x2 183.29460449144244,
                                   :y2 91.66252136230469,
                                   :width 644.9999999999999,
                                   :height 985.4173396942263}),
                          :page 8},
               :content {:text "Quién creó la Unidad Económica"},
               :properties {:color "blue"}}
              {:id #uuid "662f4105-f972-4b74-b9e7-394450d22c8c",
               :page 8,
               :position {:bounding {:x1 52.88749999925494,
                                     :y1 216.27500915527344,
                                     :x2 284.1507751457393,
                                     :y2 236.02500915527344,
                                     :width 644.9999999999999,
                                     :height 985.4173396942263},
                          :rects ({:x1 67.2228424064815,
                                   :y1 216.27500915527344,
                                   :x2 284.1507751457393,
                                   :y2 225.87501525878906,
                                   :width 644.9999999999999,
                                   :height 985.4173396942263}
                                  {:x1 52.88749999925494,
                                   :y1 226.4250030517578,
                                   :x2 133.53378600999713,
                                   :y2 236.02500915527344,
                                   :width 644.9999999999999,
                                   :height 985.4173396942263}),
                          :page 8},
               :content {:text "Cuál fue el motivo principal por el que inició este negocio o actividad económica?"},
               :properties {:color "red"}}
              {:id #uuid "662f411a-f258-4021-af08-0527ac99e1a3",
               :page 8,
               :position {:bounding {:x1 52.94999999925494,
                                     :y1 384.00000762939453,
                                     :x2 269.81305999681354,
                                     :y2 403.6500015258789,
                                     :width 644.9999999999999,
                                     :height 985.4173396942263},
                          :rects ({:x1 67.05738372728229,
                                   :y1 384.00000762939453,
                                   :x2 269.81305999681354,
                                   :y2 393.60001373291016,
                                   :width 644.9999999999999,
                                   :height 985.4173396942263}
                                  {:x1 52.94999999925494,
                                   :y1 394.0499954223633,
                                   :x2 203.02527160570025,
                                   :y2 403.6500015258789,
                                   :width 644.9999999999999,
                                   :height 985.4173396942263}),
                          :page 8},
               :content {:text "Cuál fue la mayor fuente de recursos para la creación o constitución de esta Unidad Económica?"},
               :properties {:color "red"}}
              {:id #uuid "662f4125-0518-49ee-b7c4-facf0c2618c2",
               :page 8,
               :position {:bounding {:x1 52.94999999925494,
                                     :y1 567.7750358581543,
                                     :x2 289.06779785081744,
                                     :y2 597.575023651123,
                                     :width 644.9999999999999,
                                     :height 985.4173396942263},
                          :rects ({:x1 67.18523712083697,
                                   :y1 567.7750358581543,
                                   :x2 283.89248199388385,
                                   :y2 577.3750114440918,
                                   :width 644.9999999999999,
                                   :height 985.4173396942263}
                                  {:x1 52.94999999925494,
                                   :y1 577.9249992370605,
                                   :x2 289.06779785081744,
                                   :y2 587.5250358581543,
                                   :width 644.9999999999999,
                                   :height 985.4173396942263}
                                  {:x1 52.94999999925494,
                                   :y1 587.9749870300293,
                                   :x2 116.96641082689166,
                                   :y2 597.575023651123,
                                   :width 644.9999999999999,
                                   :height 985.4173396942263}),
                          :page 8},
               :content {:text "Para el desarrollo de su actividad económica usted emplea conocimientos tradicionales y ancestrales de los grupos étnicoraciales del país?"},
               :properties {:color "yellow"}}
              {:id #uuid "662f417a-3988-44b9-8bed-876827531b06",
               :page 6,
               :position {:bounding {:x1 62.23377914354205,
                                     :y1 56.737510681152344,
                                     :x2 105.13579101487994,
                                     :y2 68.73751068115234,
                                     :width 644.9999999999999,
                                     :height 985.4173396942263},
                          :rects ({:x1 62.23377914354205,
                                   :y1 56.737510681152344,
                                   :x2 105.13579101487994,
                                   :y2 68.73751068115234,
                                   :width 644.9999999999999,
                                   :height 985.4173396942263}),
                          :page 6},
               :content {:text "INGRESOS"},
               :properties {:color "purple"}}
              {:id #uuid "662f4194-3be7-4543-8f3e-d4264101bb22",
               :page 8,
               :position {:bounding {:x1 67.12534637376666,
                                     :y1 711.1500244140625,
                                     :x2 266.4809677116573,
                                     :y2 720.7500305175781,
                                     :width 644.9999999999999,
                                     :height 985.4173396942263},
                          :rects ({:x1 67.12534637376666,
                                   :y1 711.1500244140625,
                                   :x2 266.4809677116573,
                                   :y2 720.7500305175781,
                                   :width 644.9999999999999,
                                   :height 985.4173396942263}),
                          :page 8},
               :content {:text "Los bienes que produce o comercializa son artesanías"},
               :properties {:color "yellow"}}
              {:id #uuid "662f41ae-dbe0-4dc2-97d7-b42013f6452a",
               :page 8,
               :position {:bounding {:x1 61.930083464831114,
                                     :y1 779.4374847412109,
                                     :x2 269.9768821708858,
                                     :y2 789.0375213623047,
                                     :width 644.9999999999999,
                                     :height 985.4173396942263},
                          :rects ({:x1 61.930083464831114,
                                   :y1 779.4374847412109,
                                   :x2 269.9768821708858,
                                   :y2 789.0375213623047,
                                   :width 644.9999999999999,
                                   :height 985.4173396942263}),
                          :page 8},
               :content {:text "En el 2023, ¿Qué medios de pago aceptó en su negocio?"},
               :properties {:color "green"}}
              {:id #uuid "662f41db-d5c6-4d12-8717-13403fc5d0d4",
               :page 8,
               :position {:bounding {:x1 338.1624938957393,
                                     :y1 420.1624984741211,
                                     :x2 533.8990966789424,
                                     :y2 439.8125228881836,
                                     :width 644.9999999999999,
                                     :height 985.4173396942263},
                          :rects ({:x1 347.28203124925494,
                                   :y1 420.1624984741211,
                                   :x2 527.1548950187862,
                                   :y2 429.7625045776367,
                                   :width 644.9999999999999,
                                   :height 985.4173396942263}
                                  {:x1 338.1624938957393,
                                   :y1 430.21251678466797,
                                   :x2 533.8990966789424,
                                   :y2 439.8125228881836,
                                   :width 644.9999999999999,
                                   :height 985.4173396942263}),
                          :page 8},
               :content {:text "En el 2023, ¿este negocio o actividad económica perteneció a alguna de las siguientes organizaciones"},
               :properties {:color "blue"}}
              {:id #uuid "662f41f9-389f-4dfd-9a98-07f4c3c4c0f4",
               :page 8,
               :position {:bounding {:x1 338.1624938957393,
                                     :y1 110.93751525878906,
                                     :x2 572.3859741203487,
                                     :y2 130.68751525878906,
                                     :width 644.9999999999999,
                                     :height 985.4173396942263},
                          :rects ({:x1 347.3408386223018,
                                   :y1 110.93751525878906,
                                   :x2 572.3859741203487,
                                   :y2 120.53749084472656,
                                   :width 644.9999999999999,
                                   :height 985.4173396942263}
                                  {:x1 338.1624938957393,
                                   :y1 121.08750915527344,
                                   :x2 393.93574829027057,
                                   :y2 130.68751525878906,
                                   :width 644.9999999999999,
                                   :height 985.4173396942263}),
                          :page 8},
               :content {:text "En el 2023, ¿solicitó algún crédito o préstamo para la gestión de su negocio?"},
               :properties {:color "green"}}],
 :extra {:page 3}}
