{:highlights [{:id #uuid "6632fcf1-dde2-440e-a023-fbc87e5edc1c",
               :page 37,
               :position {:bounding {:x1 108.84456634521484,
                                     :y1 159.8125,
                                     :x2 329.5786666870117,
                                     :y2 168.47918701171875,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 108.84456634521484,
                                   :y1 159.8125,
                                   :x2 329.5786666870117,
                                   :y2 168.47918701171875,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 37},
               :content {:text "Brecha del ingreso laboral mensual promedio por sexo"},
               :properties {:color "yellow"}}
              {:id #uuid "6632fd1d-ec5f-42cb-b0dd-044ce286d2c5",
               :page 39,
               :position {:bounding {:x1 106.4627914428711,
                                     :y1 97.22917175292969,
                                     :x2 413.99654388427734,
                                     :y2 105.89582824707031,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 106.4627914428711,
                                   :y1 97.22917175292969,
                                   :x2 413.99654388427734,
                                   :y2 105.89582824707031,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 39},
               :content {:text " Brecha del ingreso laboral mensual promediosegún grupos etarios por sexo"},
               :properties {:color "yellow"}}
              {:id #uuid "6632fd53-3ca7-4d8f-a87c-8f74c3f49098",
               :page 42,
               :position {:bounding {:x1 49.26041793823242,
                                     :y1 97.22917175292969,
                                     :x2 458.0227966308594,
                                     :y2 116.36459350585938,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 90.08770751953125,
                                   :y1 97.22917175292969,
                                   :x2 458.0227966308594,
                                   :y2 105.89584350585938,
                                   :width 532,
                                   :height 688.4705882352941}
                                  {:x1 49.26041793823242,
                                   :y1 107.69792175292969,
                                   :x2 147.37539291381836,
                                   :y2 116.36459350585938,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 42},
               :content {:text " Brecha del ingreso laboral mensual promedio y el ingreso laboral promedio por horas según tamaño de las empresas"},
               :properties {:color "yellow"}}
              {:id #uuid "6632fd5e-af55-4227-aaa8-e3042b6b9612",
               :page 42,
               :position {:bounding {:x1 81.80562591552734,
                                     :y1 337.15625,
                                     :x2 394.84349822998047,
                                     :y2 345.82293701171875,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 81.80562591552734,
                                   :y1 337.15625,
                                   :x2 394.84349822998047,
                                   :y2 345.82293701171875,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 42},
               :content {:text " Brecha del ingreso laboral mensual promedio según tamaño de las empresas"},
               :properties {:color "yellow"}}
              {:id #uuid "6632fd75-091e-4a78-83fd-3bced87f0e15",
               :page 43,
               :position {:bounding {:x1 74.41667175292969,
                                     :y1 368.4895935058594,
                                     :x2 483.1823425292969,
                                     :y2 387.5520935058594,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 114.24945068359375,
                                   :y1 368.4895935058594,
                                   :x2 483.1823425292969,
                                   :y2 377.15625,
                                   :width 532,
                                   :height 688.4705882352941}
                                  {:x1 74.41667175292969,
                                   :y1 378.88543701171875,
                                   :x2 150.43040466308594,
                                   :y2 387.5520935058594,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 43},
               :content {:text " Brecha del ingreso laboral mensual promedio según sector y rama de actividad de las empresas por sexo"},
               :properties {:color "yellow"}}
              {:id #uuid "6632fd8d-c6e3-48fb-ae24-a32151976576",
               :page 45,
               :position {:bounding {:x1 111.47247314453125,
                                     :y1 264.1145935058594,
                                     :x2 414.4178161621094,
                                     :y2 272.78125,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 111.47247314453125,
                                   :y1 264.1145935058594,
                                   :x2 414.4178161621094,
                                   :y2 272.78125,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 45},
               :content {:text " Brecha del ingreso laboral mensual promedio según percentiles de ingreso"},
               :properties {:color "yellow"}}],
 :extra {:page 37}}
