{:highlights [{:id #uuid "662f9997-a31a-4feb-8875-56a4273f8b12",
               :page 111,
               :position {:bounding {:x1 197.48750610277057,
                                     :y1 728.1375122070312,
                                     :x2 282.24678344652057,
                                     :y2 751.0125122070312,
                                     :width 644.9999999999999,
                                     :height 912.207784571966},
                          :rects ({:x1 197.48750610277057,
                                   :y1 728.1375122070312,
                                   :x2 282.24678344652057,
                                   :y2 739.3375244140625,
                                   :width 644.9999999999999,
                                   :height 912.207784571966}
                                  {:x1 197.48750610277057,
                                   :y1 739.8125,
                                   :x2 239.69595642015338,
                                   :y2 751.0125122070312,
                                   :width 644.9999999999999,
                                   :height 912.207784571966}),
                          :page 111},
               :content {:text "Vender productos o servicios?"},
               :properties {:color "red"}}
              {:id #uuid "662f9a1f-76a0-471e-b15c-119659d7e245",
               :page 111,
               :position {:bounding {:x1 197.48750610277057,
                                     :y1 583.1875,
                                     :x2 310.2441284172237,
                                     :y2 629.5,
                                     :width 644.9999999999999,
                                     :height 912.207784571966},
                          :rects ({:x1 197.48750610277057,
                                   :y1 583.1875,
                                   :x2 310.2441284172237,
                                   :y2 594.3875122070312,
                                   :width 644.9999999999999,
                                   :height 912.207784571966}
                                  {:x1 197.48750610277057,
                                   :y1 594.8625183105469,
                                   :x2 279.8503601066768,
                                   :y2 606.0625,
                                   :width 644.9999999999999,
                                   :height 912.207784571966}
                                  {:x1 197.48750610277057,
                                   :y1 606.5375061035156,
                                   :x2 307.13252563402057,
                                   :y2 617.7375183105469,
                                   :width 644.9999999999999,
                                   :height 912.207784571966}
                                  {:x1 197.48750610277057,
                                   :y1 618.3000183105469,
                                   :x2 251.08627624437213,
                                   :y2 629.5,
                                   :width 644.9999999999999,
                                   :height 912.207784571966}),
                          :page 111},
               :content {:text "Buscar trabajo (inscribirse en una plataforma, aplicación o convocatoria de empleo)?"},
               :properties {:color "green"}}],
 :extra {:page 107}}
