{:highlights [{:id #uuid "662f9c71-d7f8-4405-9811-e6a4b97496da",
               :page 39,
               :position {:bounding {:x1 155.63749999925494,
                                     :y1 458.9375061094761,
                                     :x2 280.24544067308307,
                                     :y2 481.9125122129917,
                                     :width 644.9999999999999,
                                     :height 912.207784571966},
                          :rects ({:x1 155.63749999925494,
                                   :y1 458.9375061094761,
                                   :x2 280.24544067308307,
                                   :y2 470.13751831650734,
                                   :width 644.9999999999999,
                                   :height 912.207784571966}
                                  {:x1 155.63749999925494,
                                   :y1 470.71250000596046,
                                   :x2 215.80948181077838,
                                   :y2 481.9125122129917,
                                   :width 644.9999999999999,
                                   :height 912.207784571966}),
                          :page 39},
               :content {:text "Trabajadores o familiares sin remuneración"},
               :properties {:color "yellow"}}],
 :extra {:page 39}}
