{:highlights [{:id #uuid "663a2a8a-4221-41ce-b207-d9de27710a14",
               :page 15,
               :position {:bounding {:x1 136.68966674804688,
                                     :y1 73.98751831054688,
                                     :x2 368.16192626953125,
                                     :y2 90.78750610351562,
                                     :width 640,
                                     :height 828.2352941176471},
                          :rects ({:x1 136.68966674804688,
                                   :y1 73.98751831054688,
                                   :x2 368.16192626953125,
                                   :y2 90.78750610351562,
                                   :width 640,
                                   :height 828.2352941176471}),
                          :page 15},
               :content {:text "MÉTODO DE ELABORACIÓN IPM"},
               :properties {:color "green"}}],
 :extra {:page 15}}
