{:highlights [{:id #uuid "6632d327-f8be-4d70-90bb-a3ddc6bd4f3e",
               :page 22,
               :position {:bounding {:x1 94.89644622802734,
                                     :y1 244.6354217529297,
                                     :x2 417.46075439453125,
                                     :y2 259.96876525878906,
                                     :width 532,
                                     :height 688.4705882352941},
                          :rects ({:x1 94.89644622802734,
                                   :y1 244.6354217529297,
                                   :x2 417.46075439453125,
                                   :y2 259.96876525878906,
                                   :width 532,
                                   :height 688.4705882352941}),
                          :page 22},
               :content {:text "Definición de variables y construcción de indicadores estadístic"},
               :properties {:color "yellow"}}],
 :extra {:page 25}}
