{:highlights [{:id #uuid "66300f22-d15a-4f36-bae4-9ffe96746f74",
               :page 14,
               :position {:bounding {:x1 73.95833843946457,
                                     :y1 489.18751525878906,
                                     :x2 150.13758343458176,
                                     :y2 499.18751525878906,
                                     :width 532,
                                     :height 688.4399137424034},
                          :rects ({:x1 73.95833843946457,
                                   :y1 489.18751525878906,
                                   :x2 150.13758343458176,
                                   :y2 499.18751525878906,
                                   :width 532,
                                   :height 688.4399137424034}),
                          :page 14},
               :content {:text "Porcentaje de PET"},
               :properties {:color "red"}}
              {:id #uuid "66300f42-9d28-4e7a-9bf9-8ce8d9badf85",
               :page 14,
               :position {:bounding {:x1 73.95833587646484,
                                     :y1 563.4375,
                                     :x2 226.59282684326172,
                                     :y2 573.4375,
                                     :width 532,
                                     :height 688.4399137424034},
                          :rects ({:x1 73.95833587646484,
                                   :y1 563.4375,
                                   :x2 226.59282684326172,
                                   :y2 573.4375,
                                   :width 532,
                                   :height 688.4399137424034}),
                          :page 14},
               :content {:text "Tasa Global de Participación o (TPG)"},
               :properties {:color "red"}}
              {:id #uuid "66300f87-56cc-4c17-a974-99110923ad0a",
               :page 15,
               :position {:bounding {:x1 73.95833587646484,
                                     :y1 167.79165649414062,
                                     :x2 221.72570037841797,
                                     :y2 177.79165649414062,
                                     :width 532,
                                     :height 688.4399137424034},
                          :rects ({:x1 73.95833587646484,
                                   :y1 167.79165649414062,
                                   :x2 221.72570037841797,
                                   :y2 177.79165649414062,
                                   :width 532,
                                   :height 688.4399137424034}),
                          :page 15},
               :content {:text "Tasa Bruta de Participación o (TBP)"},
               :properties {:color "red"}}
              {:id #uuid "66300fa6-98ee-47fa-97b8-1f2c8a14b980",
               :page 15,
               :position {:bounding {:x1 73.95833587646484,
                                     :y1 242.17709350585938,
                                     :x2 154.30064392089844,
                                     :y2 252.17709350585938,
                                     :width 532,
                                     :height 688.4399137424034},
                          :rects ({:x1 73.95833587646484,
                                   :y1 242.17709350585938,
                                   :x2 154.30064392089844,
                                   :y2 252.17709350585938,
                                   :width 532,
                                   :height 688.4399137424034}),
                          :page 15},
               :content {:text "Tasa de Desempleo"},
               :properties {:color "red"}}
              {:id #uuid "66300ffc-c7cf-492e-a5fe-200d82b7b14a",
               :page 15,
               :position {:bounding {:x1 73.95833587646484,
                                     :y1 450.0520935058594,
                                     :x2 203.85372161865234,
                                     :y2 460.0520935058594,
                                     :width 532,
                                     :height 688.4399137424034},
                          :rects ({:x1 73.95833587646484,
                                   :y1 450.0520935058594,
                                   :x2 203.85372161865234,
                                   :y2 460.0520935058594,
                                   :width 532,
                                   :height 688.4399137424034}),
                          :page 15},
               :content {:text "Tasa de Desempleo oculto (TDO)"},
               :properties {:color "red"}}
              {:id #uuid "66301019-5e17-47a8-baa7-8dd75e1a1308",
               :page 16,
               :position {:bounding {:x1 73.95833587646484,
                                     :y1 117.83332824707031,
                                     :x2 155.2354736328125,
                                     :y2 127.83332824707031,
                                     :width 532,
                                     :height 688.4399137424034},
                          :rects ({:x1 73.95833587646484,
                                   :y1 117.83332824707031,
                                   :x2 155.2354736328125,
                                   :y2 127.83332824707031,
                                   :width 532,
                                   :height 688.4399137424034}),
                          :page 16},
               :content {:text "Tasa de Ocupación "},
               :properties {:color "red"}}
              {:id #uuid "66301044-5c3b-4e35-899c-764129935f4a",
               :page 16,
               :position {:bounding {:x1 73.95833587646484,
                                     :y1 192.08334350585938,
                                     :x2 154.6409149169922,
                                     :y2 202.08334350585938,
                                     :width 532,
                                     :height 688.4399137424034},
                          :rects ({:x1 73.95833587646484,
                                   :y1 192.08334350585938,
                                   :x2 154.6409149169922,
                                   :y2 202.08334350585938,
                                   :width 532,
                                   :height 688.4399137424034}),
                          :page 16},
               :content {:text "Tasa de Subempleo"},
               :properties {:color "red"}}],
 :extra {:page 14}}
