{:highlights [{:id #uuid "663011e0-2758-4003-b3c1-5ee9f9e50dc5",
               :page 11,
               :position {:bounding {:x1 117.45833587646484,
                                     :y1 328.0520935058594,
                                     :x2 243.6520233154297,
                                     :y2 338.0520935058594,
                                     :width 532,
                                     :height 752.568798091462},
                          :rects ({:x1 117.45833587646484,
                                   :y1 328.0520935058594,
                                   :x2 243.6520233154297,
                                   :y2 338.0520935058594,
                                   :width 532,
                                   :height 752.568798091462}),
                          :page 11},
               :content {:text "Proporción de informalidad (PI)"},
               :properties {:color "red"}}
              {:id #uuid "663011f2-7f26-42d1-9bf9-8996dfafd603",
               :page 11,
               :position {:bounding {:x1 117.45833587646484,
                                     :y1 387.1979217529297,
                                     :x2 333.7705307006836,
                                     :y2 397.1979217529297,
                                     :width 532,
                                     :height 752.568798091462},
                          :rects ({:x1 117.45833587646484,
                                   :y1 387.1979217529297,
                                   :x2 333.7705307006836,
                                   :y2 397.1979217529297,
                                   :width 532,
                                   :height 752.568798091462}),
                          :page 11},
               :content {:text "Proporción de ocupados con seguridad social (PCSS):"},
               :properties {:color "red"}}
              {:id #uuid "66301216-93bf-4a4c-9799-6c75cc9beb1e",
               :page 11,
               :position {:bounding {:x1 117.45833587646484,
                                     :y1 507.98960876464844,
                                     :x2 329.97615814208984,
                                     :y2 517.9896087646484,
                                     :width 532,
                                     :height 752.568798091462},
                          :rects ({:x1 117.45833587646484,
                                   :y1 507.98960876464844,
                                   :x2 329.97615814208984,
                                   :y2 517.9896087646484,
                                   :width 532,
                                   :height 752.568798091462}),
                          :page 11},
               :content {:text "Proporción de ocupados sin seguridad social (PSSS)"},
               :properties {:color "red"}}],
 :extra {:page 11}}
