{:highlights [{:id #uuid "662fefa2-99f1-4d4c-8603-9661dc841196",
               :page 44,
               :position {:bounding {:x1 241.21875,
                                     :y1 196.02084350585938,
                                     :x2 570.8912353515625,
                                     :y2 208.6875,
                                     :width 680,
                                     :height 880},
                          :rects ({:x1 241.21875,
                                   :y1 196.02084350585938,
                                   :x2 570.8912353515625,
                                   :y2 208.6875,
                                   :width 680,
                                   :height 880}),
                          :page 44},
               :content {:text "Concentración y distribución espacial de las unidades económicas"},
               :properties {:color "green"}}
              {:id #uuid "662fefd3-6846-418d-acb2-fb27abdaaa97",
               :page 44,
               :position {:bounding {:x1 241.21875,
                                     :y1 246.88543701171875,
                                     :x2 580.2310180664062,
                                     :y2 276.5,
                                     :width 680,
                                     :height 880},
                          :rects ({:x1 241.21875,
                                   :y1 246.88543701171875,
                                   :x2 580.2310180664062,
                                   :y2 259.5520935058594,
                                   :width 680,
                                   :height 880}
                                  {:x1 241.21875,
                                   :y1 263.8333435058594,
                                   :x2 293.90008544921875,
                                   :y2 276.5,
                                   :width 680,
                                   :height 880}),
                          :page 44},
               :content {:text "Cantidad y porcentaje de unidades económicas según tipo de unidad económica"},
               :properties {:color "green"}}
              {:id #uuid "662ff019-9cac-47b7-98bf-d5060bb7f801",
               :page 44,
               :position {:bounding {:x1 241.21875,
                                     :y1 298.0208435058594,
                                     :x2 471.29266357421875,
                                     :y2 310.6875,
                                     :width 680,
                                     :height 880},
                          :rects ({:x1 241.21875,
                                   :y1 298.0208435058594,
                                   :x2 471.29266357421875,
                                   :y2 310.6875,
                                   :width 680,
                                   :height 880}),
                          :page 44},
               :content {:text "Cantidad y porcentaje de unidades económicas"},
               :properties {:color "green"}}
              {:id #uuid "662ff0ca-c482-49f7-8cd8-c7287c7100d9",
               :page 44,
               :position {:bounding {:x1 241.21875,
                                     :y1 348.85418701171875,
                                     :x2 558.4077758789062,
                                     :y2 378.4583435058594,
                                     :width 680,
                                     :height 880},
                          :rects ({:x1 241.21875,
                                   :y1 348.85418701171875,
                                   :x2 558.4077758789062,
                                   :y2 361.5208435058594,
                                   :width 680,
                                   :height 880}
                                  {:x1 241.21875,
                                   :y1 365.79168701171875,
                                   :x2 317.63848876953125,
                                   :y2 378.4583435058594,
                                   :width 680,
                                   :height 880}),
                          :page 44},
               :content {:text "Cantidad y porcentaje de unidades económicas según tiempo de funcionamiento"},
               :properties {:color "green"}}
              {:id #uuid "662ff151-646a-4de9-81f6-66154c4495c4",
               :page 44,
               :position {:bounding {:x1 261.21875,
                                     :y1 382.76043701171875,
                                     :x2 585.3607177734375,
                                     :y2 410.4270935058594,
                                     :width 680,
                                     :height 880},
                          :rects ({:x1 261.21875,
                                   :y1 382.76043701171875,
                                   :x2 585.3607177734375,
                                   :y2 395.4270935058594,
                                   :width 680,
                                   :height 880}
                                  {:x1 261.21875,
                                   :y1 397.76043701171875,
                                   :x2 414.6230163574219,
                                   :y2 410.4270935058594,
                                   :width 680,
                                   :height 880}),
                          :page 44},
               :content {:text "Cantidad y porcentaje de unidades económicas según tamaño por número de personas ocupadas."},
               :properties {:color "green"}}
              {:id #uuid "662ff324-fa84-4a1f-9145-41a7d6e254dc",
               :page 44,
               :position {:bounding {:x1 261.21875,
                                     :y1 412.47918701171875,
                                     :x2 605.35107421875,
                                     :y2 439.875,
                                     :width 680,
                                     :height 880},
                          :rects ({:x1 261.21875,
                                   :y1 412.47918701171875,
                                   :x2 605.35107421875,
                                   :y2 425.1458435058594,
                                   :width 680,
                                   :height 880}
                                  {:x1 261.21875,
                                   :y1 427.2083435058594,
                                   :x2 452.0938720703125,
                                   :y2 439.875,
                                   :width 680,
                                   :height 880}),
                          :page 44},
               :content {:text "Cantidad de personas ocupadas en las unidades económicas censadas según categoría de contratación y sexo"},
               :properties {:color "green"}}
              {:id #uuid "662ff37e-cdc1-4746-987c-cd1883f2df0b",
               :page 44,
               :position {:bounding {:x1 261.21875,
                                     :y1 476.6875,
                                     :x2 585.3607177734375,
                                     :y2 504.07293701171875,
                                     :width 680,
                                     :height 880},
                          :rects ({:x1 261.21875,
                                   :y1 476.6875,
                                   :x2 585.3607177734375,
                                   :y2 489.35418701171875,
                                   :width 680,
                                   :height 880}
                                  {:x1 261.21875,
                                   :y1 491.40625,
                                   :x2 361.3316345214844,
                                   :y2 504.07293701171875,
                                   :width 680,
                                   :height 880}),
                          :page 44},
               :content {:text "Cantidad y porcentaje de unidades económicas según tamaño por valor de los ingresos"},
               :properties {:color "green"}}
              {:id #uuid "662ff3db-d2b7-406a-81ce-f92103c2b44c",
               :page 44,
               :position {:bounding {:x1 241.21875,
                                     :y1 554.1875305175781,
                                     :x2 548.1358032226562,
                                     :y2 566.8541870117188,
                                     :width 680,
                                     :height 880},
                          :rects ({:x1 241.21875,
                                   :y1 554.1875305175781,
                                   :x2 548.1358032226562,
                                   :y2 566.8541870117188,
                                   :width 680,
                                   :height 880}),
                          :page 44},
               :content {:text "Valor total de los activos de las unidades económicas censadas"},
               :properties {:color "green"}}
              {:id #uuid "662ff3ff-101d-4dd8-88c9-b549dd65d47c",
               :page 44,
               :position {:bounding {:x1 261.21875,
                                     :y1 506.40625,
                                     :x2 587.8841552734375,
                                     :y2 533.7916870117188,
                                     :width 680,
                                     :height 880},
                          :rects ({:x1 261.21875,
                                   :y1 506.40625,
                                   :x2 587.8841552734375,
                                   :y2 519.0729370117188,
                                   :width 680,
                                   :height 880}
                                  {:x1 261.21875,
                                   :y1 521.125,
                                   :x2 305.44439697265625,
                                   :y2 533.7916870117188,
                                   :width 680,
                                   :height 880}),
                          :page 44},
               :content {:text "Valor total de los ingresos generados por las unidades económicas censadas"},
               :properties {:color "green"}}
              {:id #uuid "662ff4f5-8247-41f8-bef5-392f93abb6b7",
               :page 44,
               :position {:bounding {:x1 241.21875,
                                     :y1 451.09375,
                                     :x2 593.3192138671875,
                                     :y2 463.76043701171875,
                                     :width 680,
                                     :height 880},
                          :rects ({:x1 241.21875,
                                   :y1 451.09375,
                                   :x2 593.3192138671875,
                                   :y2 463.76043701171875,
                                   :width 680,
                                   :height 880}),
                          :page 44},
               :content {:text "Valor total de las remuneraciones pagadas por las unidades económicas"},
               :properties {:color "green"}}
              {:id #uuid "66393a75-b7d7-4197-ae34-66e88556070a",
               :page 44,
               :position {:bounding {:x1 227.02500915527344,
                                     :y1 505.56251832842827,
                                     :x2 557.7296752929688,
                                     :y2 517.5624878108501,
                                     :width 639.9999999999999,
                                     :height 828.235294117647},
                          :rects ({:x1 227.02500915527344,
                                   :y1 505.56251832842827,
                                   :x2 557.7296752929688,
                                   :y2 517.5624878108501,
                                   :width 639.9999999999999,
                                   :height 828.235294117647}),
                          :page 44},
               :content {:text "Valor total de los costos y gastos de las unidades económicas censadas."},
               :properties {:color "green"}}],
 :extra {:page 44}}
