{:highlights [{:id #uuid "662fefa2-99f1-4d4c-8603-9661dc841196",
               :page 44,
               :position {:bounding {:x1 241.21875,
                                     :y1 196.02084350585938,
                                     :x2 570.8912353515625,
                                     :y2 208.6875,
                                     :width 680,
                                     :height 880},
                          :rects ({:x1 241.21875,
                                   :y1 196.02084350585938,
                                   :x2 570.8912353515625,
                                   :y2 208.6875,
                                   :width 680,
                                   :height 880}),
                          :page 44},
               :content {:text "Concentración y distribución espacial de las unidades económicas"},
               :properties {:color "green"}}
              {:id #uuid "662fefd3-6846-418d-acb2-fb27abdaaa97",
               :page 44,
               :position {:bounding {:x1 241.21875,
                                     :y1 246.88543701171875,
                                     :x2 580.2310180664062,
                                     :y2 276.5,
                                     :width 680,
                                     :height 880},
                          :rects ({:x1 241.21875,
                                   :y1 246.88543701171875,
                                   :x2 580.2310180664062,
                                   :y2 259.5520935058594,
                                   :width 680,
                                   :height 880}
                                  {:x1 241.21875,
                                   :y1 263.8333435058594,
                                   :x2 293.90008544921875,
                                   :y2 276.5,
                                   :width 680,
                                   :height 880}),
                          :page 44},
               :content {:text "Cantidad y porcentaje de unidades económicas según tipo de unidad económica"},
               :properties {:color "green"}}
              {:id #uuid "662ff019-9cac-47b7-98bf-d5060bb7f801",
               :page 44,
               :position {:bounding {:x1 241.21875,
                                     :y1 298.0208435058594,
                                     :x2 471.29266357421875,
                                     :y2 310.6875,
                                     :width 680,
                                     :height 880},
                          :rects ({:x1 241.21875,
                                   :y1 298.0208435058594,
                                   :x2 471.29266357421875,
                                   :y2 310.6875,
                                   :width 680,
                                   :height 880}),
                          :page 44},
               :content {:text "Cantidad y porcentaje de unidades económicas"},
               :properties {:color "green"}}],
 :extra {:page 44}}
