{:highlights [{:id #uuid "66350fff-185e-4ee7-8202-e347cfd8a8fa",
               :page 21,
               :position {:bounding {:x1 89.32500457763672,
                                     :y1 166.9625015258789,
                                     :x2 296.7841796875,
                                     :y2 180.56250762939453,
                                     :width 639.9999999999999,
                                     :height 828.235294117647},
                          :rects ({:x1 89.32500457763672,
                                   :y1 166.9625015258789,
                                   :x2 296.7841796875,
                                   :y2 180.56250762939453,
                                   :width 639.9999999999999,
                                   :height 828.235294117647}),
                          :page 21},
               :content {:text "Variables e indicadores estadísticos"},
               :properties {:color "green"}}],
 :extra {:page 21}}
