{:highlights [{:id #uuid "6632fe7f-6b5f-495d-89a6-6ece704cd6c0",
               :page 6,
               :position {:bounding {:x1 28.55208396911621,
                                     :y1 29.447921752929688,
                                     :x2 218.13812828063965,
                                     :y2 38.114593505859375,
                                     :width 532,
                                     :height 299.25},
                          :rects ({:x1 28.55208396911621,
                                   :y1 29.447921752929688,
                                   :x2 218.13812828063965,
                                   :y2 38.114593505859375,
                                   :width 532,
                                   :height 299.25}),
                          :page 6},
               :content {:text "Relaciones laborales dependientes e independientes"},
               :properties {:color "purple"}}
              {:id #uuid "6632fe9c-2adb-4f54-b9ee-6009a6f6152d",
               :page 11,
               :position {:bounding {:x1 28.55208396911621,
                                     :y1 34.0625,
                                     :x2 296.57814598083496,
                                     :y2 42.72918701171875,
                                     :width 532,
                                     :height 299.25},
                          :rects ({:x1 28.55208396911621,
                                   :y1 34.0625,
                                   :x2 296.57814598083496,
                                   :y2 42.72918701171875,
                                   :width 532,
                                   :height 299.25}),
                          :page 11},
               :content {:text "Número de aportantes por tamaño con relaciones laborales dependientes"},
               :properties {:color "purple"}}
              {:id #uuid "6632feb8-cb51-4090-ab23-42b5e37bbd82",
               :page 15,
               :position {:bounding {:x1 28.55208396911621,
                                     :y1 31.04168701171875,
                                     :x2 319.19537353515625,
                                     :y2 39.708343505859375,
                                     :width 532,
                                     :height 299.25},
                          :rects ({:x1 28.55208396911621,
                                   :y1 31.04168701171875,
                                   :x2 319.19537353515625,
                                   :y2 39.708343505859375,
                                   :width 532,
                                   :height 299.25}),
                          :page 15},
               :content {:text "Variación anual de las relaciones laborales por sector económico - dependientes"},
               :properties {:color "purple"}}],
 :extra {:page 21}}
